* {
  margin: 0px;
  padding: 0px;
}
.bordering {
  box-shadow: 2px 4px 5px grey;
  border-radius: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.headingStyle {
  font-family: "Abril Fatface", cursive;
  font-weight: bolder;
}
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
.headingStyle1 {
  margin-top: 10px;
  font-family: "Rowdies", cursive;
  font-size: 24px;
}
.headingStyle2 {
  font-size: 18px;
  
  color: #76FF03;
  font-family: "Rowdies", cursive;
  
  margin-top: 10px;
}
.fa-trash{
    font-size: 18px !important;
    color: black !important;
}
.fa-trash:hover{
    font-size: 22px !important;
    color: red !important;
}
.translist{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.btn-outline-secondary{
    width: 100% !important;
    position: relative;
    bottom: 10px;
}